{{>userHead}}

{{>userNavbar}}




<!-- Details 1 -->
<div id="details" class="basic-1 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <h2>Manage your time by locating the parking slots nearby you</h2>
                    <p>Managing your time effectively often hinges on the ability to efficiently locate nearby parking
                        slots. In today's fast-paced world, every minute counts, and the quest for parking can be a
                        significant time sink. To enhance your time management skills, consider adopting modern
                        solutions</p>

                </div>
                <!-- end of text-container -->
            </div>
            <!-- end of col -->
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" src="images/details-1.svg" alt="alternative">
                </div>
                <!-- end of image-container -->
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of basic-1 -->
<!-- end of details 1 -->



<!-- Details 2 -->
<div class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="images/details-2.png" alt="alternative">
                </div>
                <!-- end of image-container -->
            </div>
            <!-- end of col -->
        <div class="col-lg-6">
    <div class="text-container">
        <h2 class="mb-4">Getting Started is Easy</h2>
        <p class="lead">Follow these simple steps to start using our app:</p>
        
        <ol class="list-unstyled custom-list">
            <li>
           
                <strong>Navigate to the Registration Page:</strong>
                Visit the website's home page and locate the "Register" or "Sign Up" link in the navigation menu.
            </li>
            <br>
            <li>
              
                <strong>Access the Registration Form:</strong>
                Click on the "Register" or "Sign Up" link to access the registration form. This form typically contains fields where you can input your information.
            </li>  <br>
            <li>
               
                <strong>Fill in Your Details:</strong>
                Complete the registration form by providing the required information: 
                <ul class="list-unstyled inner-list">
                     <br>
                   <li><i class="fas fa-check fa-4x"></i> Choose a unique phone number that you'll use to log in.</li>
                    <li><i class="fas fa-check fa-4x"></i> Enter a valid email address for communication and account verification.</li>
                    <li><i class="fas fa-check fa-4x"></i> Create a secure password with a combination of letters, numbers, and special characters.</li>
                </ul>
            </li>  <br>
            <li>
                
                <strong>Submit the Form:</strong>
                Once you've filled in all the required information, click the "Register" or "Submit" button to submit the form.
            </li>  <br>
            
            <li>
              
                <strong>Log In:</strong>
                After successful registration, return to the home page and click on the "Log In" link. Enter your newly created username and password to log in to your account.
            </li>  <br>
            <li>
                
                <strong>Explore Parking Spaces:</strong>
                Now that you're logged in, explore available parking spaces, search for locations, and use the features of the website to find the best parking options for your needs.
            </li>
        </ol>
    </div>
    <!-- end of text-container -->
</div>
<!-- end of col -->


        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of basic-2 -->
<!-- end of details 2 -->

{{>userFooter}}