{{>userHead}}

{{>userNavbar}}




<!-- Details 1 -->
<div id="details" class="basic-1 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <h2>Manage your time by locating the parking slots nearby you</h2>
                    <p>Managing your time effectively often hinges on the ability to efficiently locate nearby parking
                        slots. In today's fast-paced world, every minute counts, and the quest for parking can be a
                        significant time sink. To enhance your time management skills, consider adopting modern
                        solutions</p>

                </div>
                <!-- end of text-container -->
            </div>
            <!-- end of col -->
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" src="images/details-1.svg" alt="alternative">
                </div>
                <!-- end of image-container -->
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of basic-1 -->
<!-- end of details 1 -->



<!-- Details 2 -->
<div class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="images/details-2.png" alt="alternative">
                </div>
                <!-- end of image-container -->
            </div>
            <!-- end of col -->
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Anyone can start using the app with just simple registration</h2>
                    <p>Velit dictum non proin egestas convallis nunc, eu auctor massa. Nam hendrerit, eros ut viverra
                        lobortis, mauris nisi porta risus, placerat dignissim tellus auctor masse</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">Fusce ipsum augue, ultrices rutrum est accel, pulvin</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">Fermentum elit. Vestibulum cursuso bibendum viverra</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">Quisque blandit pulvinar metus, eu sta malesuada</div>
                        </li>
                    </ul>
                </div>
                <!-- end of text-container -->
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of basic-2 -->
<!-- end of details 2 -->

{{>userFooter}}