{{>userHead}}

    <!-- Navigation -->
    <nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
        <div class="container">

            <!-- Image Logo 
            <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.svg" alt="alternative"></a>-->

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <a class="navbar-brand logo-text" href="userafterlogin"><img src="images/parKinglogo.png" width="200"
                    height="40" alt=""></a>

            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/userafterlogin/#history">View History</a>
                    </li>

                </ul>
                <span class="nav-item">
                    <a class="btn-outline-sm" href="login">Logout</a>
                </span>

            </div>
            <!-- end of navbar-collapse -->
        </div>
        <!-- end of container -->
    </nav>
    <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Details 1 -->
    <div id="details" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg- col-xl-6">
                    <div class="text-container" style="margin-top:100px;">
                        <h2>You are just one step away !</h2>
                        <p>Select the city where you want to park your Vehicle.</p>
                        <!-- Search Form -->
                        <form id="searchForm" action="/slotBooking" method="post" onsubmit="requestLocationAccess()">
                            <div class="row g-2">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <select required class="form-select" id="districtDropdown"
                                            aria-label="Floating label select example" onchange="populateLocalities()">
                                            <option selected>Select</option>
                                            <option value="Anantnag">Anantnag</option>
                                            <option value="Budgam">Budgam</option>
                                            <option value="Srinagar">Srinagar</option>
                                        </select>
                                        <label for="districtDropdown">City</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <select required class="form-select" id="localityDropdown"
                                            aria-label="Floating label select example">
                                            <option selected>Select City First</option>
                                        </select>
                                        <label for="localityDropdown">Locality</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center mt-5">
                                <div class="col-md-3">
                                    <div class="form-floating">
                                        <button type="button" class="btn-solid-reg"
                                            onclick="requestLocationAccess()">Search</button>
                                    </div>
                                </div>
                            </div>

                        </form>



                    </div>
                    <!-- end of text-container -->
                </div>
                <!-- end of col -->
                <div class="col-lg-6 col-xl-5">
                    <div class="image-container">
                        <img class="img-fluid" style="margin-top:20px;" src="images/slotbook.png" alt="alternative">
                    </div>
                    <!-- end of image-container -->
                </div>

                


            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </div>
    <!-- end of basic-1 -->
    <!-- end of details 1 -->
    <div class="col-lg-7 col-xl-10" style="margin: 80px;">

                    <div id="loadingMessage" class="alert alert-info" style="display: none;">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Please wait...</span>
                        </div>
                        Please wait...
                    </div>

                    <div class="text-container">
                        <div id="nearbyParkingLots" class="table-responsive">
                            <table id="parkingLotsTable" class="table" style="display: none;">
                                <thead class="center-align">
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Parking Lot Name</th>
                                        <th>Price</th>

                                        <th>Distance</th>
                                        <th>Slots Available</th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="center-align">
                                    <!-- Table rows will be added here dynamically -->


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
{{>userFooter}}