{{>userHead}}

    <!-- Navigation -->
    <nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
        <div class="container">

            <!-- Image Logo -->
            <a class="navbar-brand logo-text" href="userafterlogin"><img src="images/parKinglogo.png" width="200"
                    height="40" alt=""></a>

            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <span class="nav-item">
                        <a class="btn-outline-sm" href="login">Logout</a>
                    </span>


                    </span>
            </div>
            <!-- end of navbar-collapse -->
        </div>
        <!-- end of container -->
    </nav>
    <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1 class="text-center">Parking Lot Registration</h1>
                </div>
                <!-- end of col -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </header>
    <!-- end of ex-header -->
    <!-- end of header -->

    <div class="ex-form-1 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3">
                    <div class="text-box mt-4 mb-8">

                        <h6 class="mb-4" style="color: green;">Provide your vehicle details to book a parking spot</h6>

                        {{#if message}}
                        <div>
                            <p style="color: red;">{{message}}</p>
                        </div>
                        {{/if}}

                        <form method="POST" action="/vbook" id="myForm">

                            <div class="form-group mb-4">
                                <label for="plotname">Parking Lot Name</label>
                                <select class="form-select" name="plotname" id="plotname">
                                    <option value="{{lotData.name}}">{{lotData.name}}</option>
                                </select>
                            </div>

                            <div class="form-group mb-4">
                                <label for="registrationNumber">Vehicle Registration Number</label>
                                <input type="text" class="form-control" name="vehreno" id="registrationNumber" required>
                            </div>

                            <div class="form-group mb-4">
                                <label for="catename">Vehicle Category</label>
                                <select class="form-select" name="catename" id="catename"required>
                                    <option value="Four Wheeler">Four Wheeler</option>
                                    <option value="Three Wheeler">Three Wheeler</option>
                                    <option value="Two Wheeler">Two Wheeler</option>
                                </select>
                            </div>

                            <div class="form-group mb-4">
                                <label for="vehcomp">Vehicle's Company Name</label>
                                <select class="form-select" name="vehcomp" id="vehcomp" required>
                                    <option value="Hyundai">Hyundai</option>
                                    <option value="Maruti Suzuki">Maruti Suzuki</option>
                                    <option value="Renault">Renault</option>
                                    <option value="Mahindra">Mahindra</option>
                                    <option value="Tata">Tata</option>
                                    <option value="Honda">Honda</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>

                            <div class="form-group mb-4">
                                <label for="registrationNumber">Vehicle Model</label>
                                <input type="text" class="form-control" name="model" id="model" required>
                            </div>



                            <div class="form-group mb-4">
                                <label for="sdesc">Vehicle IN Time</label>
                                <input type="time" class="form-control" name="inTime" id="inTime"required>
                            </div>
                            <div class="form-group mb-4">
                                <label for="sdesc">Vehicle Out Time</label>
                                <input type="time" class="form-control" name="outTime" id="outTime"required>
                            </div>

                            <div class="form-group mb-4">
                                <label for="sdesc">Vehicle Owned By</label>
                                <input type="text" class="form-control" name="ownername" id="sdesc" required>
                            </div>



                              <button type="submit" class="btn btn-primary" id="submit">Submit</button>

                            <button type="reset" class="btn btn-default">Reset</button>
                        </form>


                    </div>
                    <!-- end of text-box -->
                </div>
                <!-- end of col -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </div>
    <!-- end of ex-basic-1 -->
    <!-- end of basic -->

  {{>userFooter}}