    <div  id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
            <div class="profile-userpic">
                <img src="images/img_avatar.png" width="50" class="img-responsive" alt="Icon">
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">Admin</div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>

        <form role="search" action="search-results.php" name="search" method="POST" enctype="multipart/form-data">

            <!--  -->

            <div class="form-group">
                <input type="text" class="form-control" id="searchdata" name="searchdata"
                    placeholder="Search Vehicle-Reg">
            </div>

        </form>
        <ul class="nav menu">
            <li class="{{#if (eq page 'dashboard')}}active{{/if}}" ><a href="dashboard"><em class="fa fa-dashboard"></em> Dashboard</a></li>
             <li class="{{#if (eq page 'manage-vehicles')}}active{{/if}}" ><a href="manage-vehicles"><em class="fa fa-dashboard"></em> Vehicle Entry</a></li>
            <li class="{{#if (eq page 'in-vehicles')}}active{{/if}}"> <a href="in-vehicles"><em class="fa fa-toggle-on"></em> IN Vehicles</a></li>
            <li class="{{#if (eq page 'out-vehicles')}}active{{/if}}"><a href="out-vehicles"><em class="fa fa-toggle-off"></em> OUT Vehicles</a></li>
            <li class="{{#if (eq page 'total-income')}}active{{/if}}"><a href="total-income"><em class="fa fa-rupee"></em> Total Income</a></li>

        </ul>

    </div><!--/.sidebar-->